name: 'Build and populate cache'
on:
  workflow_dispatch:
  push:
    branches:
      - auto-update-flake
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        base-image:
          - ubuntu-24.04
          - ubuntu-24.04-arm

    runs-on: ${{ matrix.base-image }}
    env:
      GIT_SSL_NO_VERIFY: 'true'
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 1024
          swap-size-mb: 4096
          build-mount-path: '/nix'
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.AUTOMERGE_TOKEN }}

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.AUTOMERGE_TOKEN }}
          extra_nix_config: |
            experimental-features = nix-command flakes ca-derivations
            extra-experimental-features = nix-command flakes ca-derivations
            keep-going = true
            log-lines = 25
            substituters = https://nix-community.cachix.org https://cache.garnix.io https://cache.nixos.org/
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g=
            trusted-substituters = https://nix-community.cachix.org https://cache.garnix.io https://cache.nixos.org/

      - name: Setup Attic cache
        uses: ryanccn/attic-action@v0
        continue-on-error: true
        with:
          endpoint: https://attic.hetzner-de.xuyh0120.win
          cache: lantian
          token: ${{ secrets.ATTIC_TOKEN }}
          skip-push: true

      - name: Setup Nix Remote Build
        run: |
          mkdir -p "$HOME"/.ssh
          echo "${{ secrets.NIX_REMOTE_BUILD_KEY }}" > "$HOME"/.ssh/id_ed25519

          cat > "$HOME"/.ssh/config <<EOF
          StrictHostKeyChecking no
          Host nix-builder
            HostName lantian.dns.army
            User nix-builder
            Port 2223
          EOF
          sudo cp "$HOME"/.ssh/config /etc/ssh/ssh_config

          chmod -R 500 "$HOME"/.ssh

          cat <<EOF | sudo tee /etc/nix/machines
          ssh-ng://nix-builder x86_64-linux $HOME/.ssh/id_ed25519 64 64 benchmark,big-parallel - -
          EOF

      - name: Set nix daemon tmpdir path
        run: |
          sudo mkdir -p /nix/tmpdir
          sudo chown "$(whoami)" /nix/tmpdir

          cat > override.conf <<EOF
          [Service]
          Environment="TMPDIR=/nix/tmpdir"
          EOF
          sudo mkdir /etc/systemd/system/nix-daemon.service.d/
          sudo mv override.conf /etc/systemd/system/nix-daemon.service.d/override.conf
          sudo systemctl daemon-reload
          sudo systemctl restart nix-daemon

      - name: Build nix packages
        run: |
          env TMPDIR=/nix/tmpdir \
            nix run .#ci -- "$(nix-instantiate --eval -E 'builtins.currentSystem')" \
            2>&1 | sed -E 's/[0-9a-z]{32}/********************************/g'

          attic push lantian result* \
            2>&1 | sed -E 's/[0-9a-z]{32}/********************************/g'
