name: dnscontrol

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
  schedule:
    - cron: '55 5 * * *'

jobs:
  dnscontrol:
    name: Run DNSControl
    runs-on: ubuntu-latest
    concurrency:
      group: dnscontrol
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Install nix
        uses: cachix/install-nix-action@v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GH_PRIVATE_REPO_TOKEN }}
          extra_nix_config: |
            extra-platforms = i686-linux aarch64-linux arm-linux

      - name: Setup GitHub Actions cache for Nix
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 1073741824
          purge: false

      - name: Setup SSH key
        run: |
          mkdir -p "$HOME/.ssh"
          echo "${{ secrets.DEPLOY_KEY }}" > "$HOME/.ssh/id_ed25519"
          echo "StrictHostKeyChecking no" > "$HOME/.ssh/config"
          chmod -R 500 "$HOME/.ssh"

      - name: Rsync zone files over SSH
        run: |
          sudo apt-get install -y rsync
          rsync -avzr -e "ssh -p2222" ci@rsync-ci.xuyh0120.win:/ltnet-zones/ zones/ || true

      - name: Apply DNSControl changes
        run: nix run ".#dnscontrol" -- push

      - name: Rsync zone files over SSH
        run: |
          sudo apt-get install -y rsync
          rsync -avzr --delete-after -e "ssh -p2222" zones/ ci@rsync-ci.xuyh0120.win:/ltnet-zones/
